body {
    background-color: rgb(35, 47, 59);
}



#main-menu {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(50, 50, 50);
}

#main-menu li {
    float: right;
}

#main-menu li a {
    display: block;
    color: white;
    padding: 0 15px 0 15px;
    text-align: center;
    font-size: 24pt;
}

#main-menu li a:hover {
    background-color: rgb(30, 30, 30);
}



#main picture img {
    float: right;
    margin-left: auto;
    margin-right: 0;
    width: 63%;
}

#main h1 {
    color: rgb(215, 237, 255);
    padding: 0;
    padding-top: 20%;
    margin: 0;
    text-align: center;
    font-size: 40pt;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#main h2 {
    color: rgb(132, 200, 255);
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25pt;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}