<!DOCTYPE html>

<html>

    <head>
		<title>Rohan Ghotra</title>

        <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
	</head>

    <body id="news_bg">

        <header>

			<ul id="main-menu">
				<li><a href="/contact/">Contact</a></li>
				<li><a href="/skills/">Skills</a></li>
				<li><a href="/news/">News/Honors</a></li>
				<li><a href="/publications/">Publications</a></li>
				<li><a href="/projects/">Projects</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/">Home</a></li>
			</ul>

		</header>

        <div id="news" class="column">
			<h1 class="column_header">News</h1>

			<h2 class="column_list_header">2022</h2>
			<ul class="column_list">
				<li>
					<a href="https://www.cshl.edu/cshl-high-schoolers-finish-top-10-in-2022-dream-challenge/" target="_blank">Competing in the 2022 Synapse DREAM Challenge: Predicting gene expression using millions of random promoter sequences</a>
				</li>
			</ul>
		</div>

		<div class="divide"></div>

		<div id="honors" class="column">
			<h1 class="column_header">Honors</h1>

			<h2 class="column_list_header">2022</h2>
			<ul class="column_list">
				<li>
					<p>I.I. Rabi Scholar</p>
				</li>
			</ul>
		</div>

    </body>

</html>
